<template name="hype">
    <div class="content">
        <h2>
            <a href="{{pathFor 'hype.detail' data=getData}}" data-transition-out="slideLeftIn" data-transition-in="slideLeftOut">
                <span class="glyphicon {{icon}}" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{nom}}
            </a>
            <span style="float:right;">
                {{#if isLink}}<a href="#" data-hype="{{_id}}" data-link="{{link}}" class="link"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>{{/if}}
            </span>
        </h2>
        {{> hype_table data=getData}}
    </div>
</template>